/* #region page */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 140%;
}
/* #endregion */

/* #region header */
.header {
  /* #display flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;

}

.header__title {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 100%;
  font-weight: 800px;
  font-style: italic;
  letter-spacing: -1.5px;

}
/* #endregion */
/* #region menu */

  .menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform:translateX(-100%) ;
  transition: transform 500ms;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 64px 120px;
  background-color: #E8EFF9;
}

.menu:target {
transform: translateX(-0%);
}



.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.menu__bottom {
  padding: 64px 0;
}
/* #endregion */
/* #region nav */
.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: #292929;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;

}

/* #endregion */

/* #region main */
.main {
  padding: 120px;
  background-color: white;
}
    /* #endregion */

/* #region recommended */
.recommended {
margin-bottom: 120px;

}
.recommended__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 48px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1.5px;
}

.recommended_products {
  display: flex;
  justify-content: center;
  gap: 24px;  
}
/* #endregion */

/* #region product */
.product {
  flex-basis: 324px;
}


.product__photo {
 width: 100%;
 margin-bottom: 32px;

}

.product__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 140%;
}

.product__category {
  margin-top: 0;
  margin-bottom: 12px;
}

.product__price {
font-weight: bold;
margin: 0;
}
/* #endregion */

/* #region categories */


.categories {
  max-width: 1020px;
  margin: 0 auto;
  margin-bottom: 120px;
}


.categories__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 48px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -1.5px;

}


.categories {
  max-width: 1020px;
  margin: 0 auto;
  margin-bottom: 120px;
} 
.categories__title {
  margin: 0;
}
/* #endregion */
.category {
 margin-bottom: 64px;
}
.category__photos {
  display: flex;
  gap: 3%;
  margin-bottom: 16px;
}
.category__title {
  margin: 0;
}
/* #endregion */
/* #region how-to-buy */

.photo-wide {
  width: 65%;
}
.photo-square {
  width: 32%;
}
.how-to-buy {
  display: flex;
  gap: 24px;
  max-width: 1020px;
  margin: 0 auto;

}
.how-to-buy__title {
  flex-basis: 50%;
  margin-top: 0;
  margin-bottom: 64px;
  font-size: 48px;
  line-height: 100px;
  font-weight: bold;
  letter-spacing: -1.5px;
}

.how-to-buy__content {
  flex-basis: 50%;
}
.how-to-buy__benefits {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  gap: 16px ;
  margin-bottom: 40px;
}
.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 460px;
  background-image: url(images/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}